<h1>Welcome</h1>

<%# <a href="/about" class="btn btn-primary">About</a> %>

<%# er + tab %>
<% %>
<%# pe + tab %>
<p><%= Time.now %></p>

<%#= link_to 'text you see', prefix_path  %>
<%= link_to 'About', about_path, class: 'btn btn-primary'  %>
<%= link_to 'Contact', contact_path  %>

<%# pc + tab %>
<%# This is for comments %>
